
[data-icon], [class^="pi-"], [class*=" pi-"] {
    line-height: 1;
    speak: none;
    text-transform: none !important;
}
.icon {
    margin-right: 16px;
}
.icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    margin: 10px 0px;
    background-color: white;
    &.pi-mobile-phone {
      background-color: $light-yellow
    }
    &.pi-archery {
      background-color: $light-purple
    }
    &.pi-layout {
      background-color: $light-green
    }
}
*, :after, :before {
    box-sizing: inherit;
}

.pi-mobile-phone:before, .psa-mobile:before, .pcs-mobile:before, .pcti-mobile:before, .pcrm-mobile:before {
  content: "\E092";
}
.pi-archery:before, .psa-goal:before {
  content: "\e0c7";
}
.pi-layout:before, .nbam-pi-container:before {
  content: "\E032";
}
.pi-clipboard-data:before, .pi-clipboard-content-icon:before {
  content: "\e20e";
}

.pi-pegasus:before {
  content: "\E218";
}
.pi-cuppa:before {
  content: "\E0CE";
}
.pi:before, [data-icon]:before, [class^="pi-"]:before, [class*=" pi-"]:before, [class*="pih-badge-icon-"]:after {
  font-family: "pega-core" !important;
  display: inline-block;
  vertical-align: -0.2em;
  line-height: 1.6;
}
.icon:before {
  font-size: 25px;
  color: $content;
}