@import '../../styles/variables.scss';

.container{

  .white-border {
    border: 3px solid white;
  }

  .track {
    background-color: $grey;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    margin: -5px -5px 0px;
  }
  .start-buffer {
    width:100%;
    background-color: lighten($light-grey, 10);

  }

  .special-events {
    background-color: lighten($grey, 20);
    color: white;
    a {
      color: $interactive-hover;
    }
  }

  .header h2 {
    font-size: 20px;
    color: white;
    text-align: center;
  }
  
  h3, p{
    text-align: center;
  }
  h3 {
    font-size: $default-text;
  }
  p {
    font-size: $secondary-text;
  }
  .breaks-meals, .travel-registration {
    background-color: lighten($light-grey, 10);
  }
  .pegaworld {
    background-color: lighten($grey, 40);
  }
}
