@import '../../styles/variables.scss';

.container{

  .track {
    background-color: $grey;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    margin: -5px -5px 0px;
  }
  .start-buffer {
    width:100%;
    background-color: lighten($light-grey, 10);

  }

  .special-events {
    background-color: lighten($grey, 20);
    color: white;
    a {
      color: $interactive-hover;
    }
  }

  .header {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin: 0 auto 15px;

    h2 {
    font-size: 20px;
    color: white;
    text-align: center;
      
    }
    
    &.faded {
      opacity: 0.5;
    }
  }

  @media screen and (max-width: 540px) {
    .header {
      margin: 15px auto ;
    }
  }
  
  h3, p{
    text-align: center;
  }
  h3 {
    font-size: $default-text;
  }
  p {
    font-size: $secondary-text;

    &.dayLabel {text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      width:100%;
      margin-top: -10px;
    }
  }
  .breaks-meals, .travel-registration {
    background-color: lighten($light-grey, 10);
  }
  .pegaworld {
    background-color: lighten($grey, 40);
  }
  .empty {
    width: 5%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .empty {
      width: 100%;
    }
  }
}